*.txt
*.hwpx

debug_tool.py

Debugger.py
DB_RESET.py
DB_Rebuild.py
DB_Force_rebuild.py
DB_Emergency_refactoring.py

schema.sql

*.png
*.gif

.env

*.exe
/venv

/static/images/profiles/*

__pycache__
/app_session

data/set.json
data/mysql.json
data/oauthsettings.json
data/version.json

route/tool/set_mark/custom.py

.vscode
.vs
goorm.manifest
.DS_Store

*.db
*.db-shm
*.db-wal
*.db-journal

views/liberty
views/buma
views/before_namu
views/acme
views/sl_open
views/nitori
views/jsonnamu

route_go/bin/*
!route_go/bin/test