<!DOCTYPE html>
<html lang="kr">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5QFZNJVP');</script>
        <!-- End Google Tag Manager -->
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_form.css') }}">
        
        <meta property="og:image" content="https://i.namu.wiki/i/UX1a0RmaJfABnbuJcd-2PfCO6qfqFMXaVBkNYV0Hwjm007_uH2Cc0fJmv6M9g9BTfzXjUk3jwJpDa09YdZnf79GO_NiDd9uGp7dudqFfQVBz69OaFzGfhSmMbOGezsME4LUzp6meYGFLDHZ32cTifVistPL4rVyv_OyU1WOADOM.webp">
        <meta property="og:description" content="log인곽에 오신 것을 환영합니다!">
        <meta property="og:title" content="log인곽">
        <link rel="shortcut icon" href="">
        <meta name="title" content="log인곽">
        <meta name="keywords" content="log인곽">
        <meta name="description" content="인천과학고등학교 비공식 커뮤니티 log인곽입니다.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>log인곽 - 비회원 인증</title>
    </head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QFZNJVP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="register-container">
        
        <header class="logo-header">
            <h1 style="font-size: 26px; margin-bottom: 20px;">비회원 {{ action_text }}</h1>
        </header>
        <p style="color: #aaa; margin-bottom: 25px;">작성 시 입력했던 비밀번호를 입력하세요.</p>
        
        <form class="register-form" method="POST" action="{{ url_for('guest_auth', action=action, target_type=target_type, target_id=target_id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            
            <input type="password" name="password" placeholder="비밀번호" required>
            <span id="name-check-msg" class="like-input-invisible"></span>
            
            <button type="submit" class="register-btn">확인</button>
            <button type="button" class="register-btn" onclick="history.back()" style="background-color: #555; margin-top: 10px;">취소</button>
        </form>
        
        </div>
</body>
</html>