<!DOCTYPE html>
<html lang="kr">
    <head>
        <script src=""></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/register_form.css') }}">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <meta property="og:image" content="https://i.namu.wiki/i/UX1a0RmaJfABnbuJcd-2PfCO6qfqFMXaVBkNYV0Hwjm007_uH2Cc0fJmv6M9g9BTfzXjUk3jwJpDa09YdZnf79GO_NiDd9uGp7dudqFfQVBz69OaFzGfhSmMbOGezsME4LUzp6meYGFLDHZ32cTifVistPL4rVyv_OyU1WOADOM.webp">
        <meta property="og:description" content="log인곽에 오신 것을 환영합니다!">
        <meta property="og:title" content="log인곽">
        <link rel="shortcut icon" href=""> <!-- 파비콘 설정 -->
        <meta name="title" content="log인곽">
        <meta name="keywords" content="log인곽">
        <meta name="description" content="인천과학고등학교 비공식 커뮤니티 log인곽입니다.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token() }}">
    </head>
<body>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log인곽 - 회원가입</title>
</head>
<body>
    <div class="register-container">
        <header class="logo-header">
            <p>함께하는 인곽생활</p>
            <h1>log인곽</h1>
        </header>
        
        <form class="register-form" action="/register" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
            <div class="user-info-row">
                <span class="like-input">학번 : {{hakbun}}</span>
                <span class="like-input">이름 : {{name}}</span>
                <span class="like-input">{{gen}}기</span>
            </div>
            <input type="text" name="login_id" id="login_id" placeholder="아이디" required>
            <span id="id-check-msg" class="check-msg"></span>
            <input type="text" name="nickname" id="nickname" placeholder="닉네임" required>
            <span id="nickname-check-msg" class="check-msg"></span>
            <input type="number" name="birth" id="birth" placeholder="생년월일 (ex. 20000101)" required>
            <span id="birth-check-msg" class="check-msg"></span>
            <input type="password" name="password" id="password" placeholder="비밀번호" required>
            <span id="password-check-msg" class="check-msg"></span>
            <input type="password" name="password_confirm" id="password_confirm" placeholder="비밀번호 확인" required>
            <span id="password-same-check-msg" class="check-msg"></span>
            <button type="submit" class="register-btn">회원가입</button>
        </form>
        
        <footer>
            <a href="{{ url_for('yakgwan_view') }}">이용약관</a>
            <a href="{{ url_for('yakgwan_view') }}">개인정보처리방침</a>
            <a href="#">문의하기</a>
            <span>&copy; log인곽</span>
            <br>
            <span>Made By. 32nd Kim Gyuwon</span>
        </footer>
    </div>
</body>
    <script src="{{ url_for('static', filename='js/register_form.js') }}"></script>
</html>