<!DOCTYPE html>
<html lang="kr">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5QFZNJVP');</script>
        <!-- End Google Tag Manager -->
        <script src=""></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/register_form.css') }}">
        <meta property="og:image" content="https://i.namu.wiki/i/UX1a0RmaJfABnbuJcd-2PfCO6qfqFMXaVBkNYV0Hwjm007_uH2Cc0fJmv6M9g9BTfzXjUk3jwJpDa09YdZnf79GO_NiDd9uGp7dudqFfQVBz69OaFzGfhSmMbOGezsME4LUzp6meYGFLDHZ32cTifVistPL4rVyv_OyU1WOADOM.webp">
        <meta property="og:description" content="log인곽에 오신 것을 환영합니다!">
        <meta property="og:title" content="log인곽">
        <link rel="shortcut icon" href=""> <!-- 파비콘 설정 -->
        <meta name="title" content="log인곽">
        <meta name="keywords" content="log인곽">
        <meta name="description" content="인천과학고등학교 비공식 커뮤니티 log인곽입니다.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QFZNJVP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log인곽 - 회원가입</title>
</head>
<body>
    <div class="register-container">
        <header class="logo-header">
            <p>함께하는 인곽생활</p>
            <h1>log인곽</h1>
        </header>
        
        <form class="register-form" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <input type="text" name="user_id" placeholder="리로스쿨 아이디 (ex. 25-10307)" required>
            <span id="hakbun-check-msg" class="like-input-invisible">nice try diddy</span>
            <input type="password" name="user_pw" placeholder="비밀번호" required>
            <span id="name-check-msg" class="like-input-invisible">nice try diddy</span>
            <button type="submit" class="register-btn" id="auth_btn">회원가입</button>
        </form>
        <footer>
            <a href="{{ url_for('yakgwan_view') }}">이용약관</a>
            <a href="{{ url_for('yakgwan_view') }}">개인정보처리방침</a>
            <a href="#">문의하기</a>
            <span>&copy; log인곽</span>
            <br>
            <span>Made By. 32nd Kim Gyuwon & 32nd Kim Junseo</span>
        </footer>
    </div>
</body>
    <script src="{{ url_for('static', filename='js/register_form.js') }}"></script>
</html>